body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c2d1d7;
}

header {
    background-color: #93b0ff;
    color: rgb(26, 22, 240);
    border-radius: 10px;
    padding: 20px;
}

nav {
    background-color: #4f78ff;
    /* padding-left: 500px;
    margin: 0 auto;*/
}

nav.navbar a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav.navbar a:hover {
    background-color: #3957b99c;
}

.dropdown-menu{
    background-color: #4f78ff;
}

.container {
     display: flex;
    padding: 20px;
}

.navbar-expand-lg {
    justify-content: center;
}

.scendi {
    padding-top: 13px;
}
.ultimora {
    width: 23%;
    background-color: #f4f4f4;
    padding: 2%;
    float: left;
}

.main-article {
    flex-grow: 1;
    padding: 2%;
    background-color: #f9f9f9;
    margin-left: 2%;
    float: left;
    width: 75%;
}

.main-article img {
    width: 100%;
    height: auto;
}

footer {
    background-color: #9eacff;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
    clear: both;
}


h1 {
    font-size: 2.5rem;
    font-weight: bold;
}

img {
    max-width: 100px;
    border-radius: 9%;
    box-shadow: -16px 21px 33px rgba(0, 0, 0, 0.6); 
    margin: 30px; 
}