body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #c2d1d7;
}

header {
    background-color: #93b0ff;
    color: white;
    text-align: center;
    padding: 20px;
}

nav {
    background-color: #4f78ff;
<<<<<<< HEAD
    /* padding-left: 500px;
	margin: 0 auto;*/
=======
    overflow: hidden;
    align-items: center;
    justify-content: center;
    display: flex;
>>>>>>> a432eef31066acd1c74ff989b1436bc5ebfef474
}

nav.navbar a {
    color: white;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
}

nav.navbar a:hover {
    background-color: #3957b99c;
}

<<<<<<< HEAD
.dropdown-menu{
    margin-left: 660px;
    background-color: #4f78ff;
}

.container {
    /* display: flex;*/
=======
#container {
    display: flex;
>>>>>>> a432eef31066acd1c74ff989b1436bc5ebfef474
    padding: 20px;
    width: 1024px;
    height: 100%;
    margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-expand-lg {
	justify-content: center;
}

.scendi {
	padding-top: 13px;
}

footer {
    background-color: #9eacff;
    color: white;
    text-align: center;
    padding: 20px;
    margin-top: 20px;
}
#tec {
    padding: 20px;
    bottom: 20px;
}
#int {
    padding: 20px;
}
#pc{
    padding: 20px;
}
#linkz {
    width: 200px; /* Imposta una larghezza per il menu laterale */
    margin-right: 20px; /* Spazio tra la sezione laterale e l'articolo */
}

.linkz ul {
    
    padding:
}


#link a {
    display: block; /* Rende l'intero area cliccabile */
    margin-bottom: 10px; /* Spazio tra i link */
    color: #000; /* Cambia il colore del testo per il contrasto */
}

#link a:hover {
    text-decoration: underline; /* Aggiungi effetto al passaggio del mouse */
}
article {
    flex: 1; /* Consente all'articolo di occupare il resto dello spazio disponibile */
}
