<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Area Riservata Admin</title>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
<div>
  <a th:href="@{/}">Torna in Home Page</a>
  <a th:href="@{/riservataadmin/logout}">Logout</a>
</div>
<h1 th:text="'Benvenuto nell'area riservata ' + ${admin.username}"></h1>
<h4 th:if="${carrello == null}">Non hai alcun libro nel carrello</h4>
<table th:if="${carrello != null}">
  <tr th:each="libroOrdinato : ${carrello}">
    <td th:text="${libroOrdinato.libro.titolo}"></td>
    <td th:text="${libroOrdinato.libro.prezzo}"></td>
    <td>
      <button class="minus" th:value="${libroOrdinato.libro.id}">-</button>
    </td>
    <td th:id="'quant' + ${libroOrdinato.libro.id}" th:text="${libroOrdinato.quantita}"></td>
    <td>
      <button class="plus" th:value="${libroOrdinato.libro.id}">+</button>
    </td>
    <td>
      <a th:href="@{/riservatautente/rimuovi(id=${libroOrdinato.libro.id})}">
        Rimuovi dal Carrello
      </a>
    </td>
  </tr>
</table>
<h5 id="totaleCarrello" th:if="${carrello != null}" th:text="'Totale Carrello ' + ${totale}"></h5>
<a th:if="${carrello != null}" th:href="@{/riservatautente/invia}">
  Invia Ordine
</a>
<p th:if="${send != null}">Ordine Inviato</p>
<form th:object="${utente}" method="post">
  <input type="hidden" th:field="*{id}">
  <input type="hidden" th:field="*{profilo.id}">
  <input type="text" th:field="*{nome}" required>
  <p th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></p>
  <br>
  <input type="text" th:field="*{cognome}" required>
  <p th:if="${#fields.hasErrors('cognome')}" th:errors="*{cognome}"></p>
  <br>
  <input type="text" th:field="*{profilo.username}" readonly>
  <br>
  <input id="pwd" type="text" th:field="*{profilo.password}" required>
  <button type="button" onclick="mostra()">Mostra/Nascondi</button>
  <p th:if="${#fields.hasErrors('profilo.password')}" th:errors="*{profilo.password}"></p>
  <br>
  <input type="submit" value="Modifica Dati">
</form>
<script>
  document.addEventListener("DOMContentLoaded", function() {
      var pwd = document.getElementById("pwd");
      pwd.type = "password";
   });
  function mostra() {
      if(pwd.type == "password")
          pwd.type = "text";
      else
          pwd.type = "password";
  }
</script>

<script th:src="@{carrello.js}"></script>
</body>
</html>