<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Area Admin - Gestione Eventi</title>
</head>
<body>
<table>
  <tr th:each="evento : ${evento}">
    <td th:text="${evento.nome}"></td>
    <td>
      <button class="elimina" th:value="${evento.nome} + '@' + ${evento.id}">Elimina</button>
    </td>
  </tr>
</table>
<hr>
<form th:object="${evento}" method="post">
  <input type="text" th:field="*{nome}">
  <br>
  <input type="text" th:field="*{luogo}">
  <br>
  <input type="date" th:field="*{data_evento}">
  <br>
  <select name="categoria">
  <option th:each="categoria : ${categoria}" th:text="${categoria.nome}" th:value="${categoria.id}" th:selected="${evento.categoria != null && evento.categoria.id == categoria.id}"></option>
  </select>
  <br>
  <input type="submit" value="Registra">
</form>

<script>
  document.querySelectorAll(".elimina").forEach(function(button) {
    button.addEventListener("click", function() {
      const valore = this.getAttribute("value");
      const dati = valore.split("@");
      const conferma = confirm("Sei sicuro di voler cancellare l'evento " + dati[0] + "?");
      if(conferma)
        window.location.href = "/admineventi/elimina?id=" + dati[1];
    });
  });